h1 {
  font-family: 'Josefin Sans', sans-serif;
}

ul.sidebar-nav {
  font-family: 'Josefin Sans', sans-serif;
}

.sidebar .container p {
  font-size: 14px;
}

.post .post-date {
  font-family: 'Josefin Sans', sans-serif;
}

a.label {
  padding: .2em .6em;
}

pre {
  overflow: scroll;
  white-space: pre;
}
pre code {
  font-size: 85%;
}
